In [67]:
import pandas as pd

In [68]:
#Import the datasets from https://www.england.nhs.uk/statistics/statistical-work-areas/diagnostics-waiting-times-and-activity/diagnostics-census-data/
#I have combined the quarterly data into yearly csv files. 

#Each dataframe contains, for each quarter, the number of patients in the NHS which waited between 6 & 13 weeks and 
#the patients which waited over 13 weeks to recieve diagnostic treatment via consultant for different area's of medicine.
wait_time_2017_18=pd.read_csv("2017-18.csv")
wait_time_2016_17=pd.read_csv("2016-17.csv")
wait_time_2015_16=pd.read_csv("2015-16.csv")
wait_time_2014_15=pd.read_csv("2014-15.csv")
wait_time_2013_14=pd.read_csv("2013-14.csv")
wait_time_2012_13=pd.read_csv("2012-13.csv")
wait_time_2011_12=pd.read_csv("2011-12.csv")
wait_time_2010_11=pd.read_csv("2010-11.csv")
wait_time_2009_10=pd.read_csv("2009-10.csv")
wait_time_2008_09=pd.read_csv("2008-09.csv")
wait_time_2007_08=pd.read_csv("2007-08.csv")
#List containing each dataframe.
wait_time_list=[wait_time_2017_18,wait_time_2016_17,wait_time_2015_16,wait_time_2014_15,wait_time_2013_14,wait_time_2012_13,wait_time_2011_12,wait_time_2010_11,wait_time_2009_10,wait_time_2008_09,wait_time_2007_08]

In [69]:
#Removing the empty row at the bottom of some dataframes.
for i in range(0,len(wait_time_list)):
    if wait_time_list[i].shape[0]>13:
        wait_time_list[i]=wait_time_list[i].drop(13)
               
    else:
        continue
#Check to see if all dataframes have the correct number of rows
for item in wait_time_list:
    if item.shape[0] != 13:
        print("Error, the table has too many columns")
    else:
        continue

#Rename the individual data frames to reflect the change in row number.
wait_time_2017_18=wait_time_list[0]
wait_time_2016_17=wait_time_list[1]
wait_time_2015_16=wait_time_list[2]
wait_time_2013_14=wait_time_list[3]
wait_time_2012_13=wait_time_list[4]
wait_time_2011_12=wait_time_list[5]
wait_time_2010_11=wait_time_list[6]
wait_time_2009_10=wait_time_list[7]
wait_time_2008_09=wait_time_list[8]
wait_time_2007_08=wait_time_list[9]

In [70]:
#Rename columns of each dataframe, drop the repeated columns.
for i in range(0,len(wait_time_list)):
    if len(wait_time_list[i].columns)==12:
        wait_time_list[i].columns=["Department","06 < 13 Weeks, Q1","13+ Weeks, Q1","Area","06 < 13 Weeks, Q2","13+ Weeks, Q2","Area","06 < 13 Weeks, Q3","13+ Weeks, Q3","Area","06 < 13 Weeks, Q4","13+ Weeks, Q4"]
    if "Area" in wait_time_list[i].columns.values:
        wait_time_list[i]=wait_time_list[i].drop("Area", axis=1)
    if "Area" in list(wait_time_list[i].iloc[0]):
        wait_time_list[i]=wait_time_list[i].drop(0,axis=0)
        wait_time_list[i]=wait_time_list[i].transpose()


#Rename the individual data frames to reflect the change in row number.
wait_time_2017_18=wait_time_list[0]
wait_time_2016_17=wait_time_list[1]
wait_time_2015_16=wait_time_list[2]
wait_time_2013_14=wait_time_list[3]
wait_time_2012_13=wait_time_list[4]
wait_time_2011_12=wait_time_list[5]
wait_time_2010_11=wait_time_list[6]
wait_time_2009_10=wait_time_list[7]
wait_time_2008_09=wait_time_list[8]
wait_time_2007_08=wait_time_list[9]

,1,2,3,4,5,6,7,8,9,10,11,12
Department,Audiology,Cardiology,Endoscopy,GI Physiology,Imaging,Neurophysiology,Ophthalmic Science,Pathology,Respiratory Physiology,Urodynamics,Vascular Technology,Total
"06 < 13 Weeks, Q1",629,"1,521","2,995",380,"2,634",231,122,"1,343",139,209,197,"10,400"
"13+ Weeks, Q1",519,154,737,421,146,127,20,431,37,21,5,"2,618"
"06 < 13 Weeks, Q2",318,"1,427","3,178",423,"2,527",295,129,668,147,268,186,"9,566"
"13+ Weeks, Q2",391,193,706,256,169,84,16,432,21,37,71,"2,376"
"06 < 13 Weeks, Q3",365,"1,863","3,720",411,"5,221",510,89,"1,981",308,212,194,"14,874"
"13+ Weeks, Q3",141,178,849,169,396,139,25,493,44,74,45,"2,553"
"06 < 13 Weeks, Q4",394,"1,805","4,477",259,"8,155",475,134,"1,925",144,197,114,"18,079"
"13+ Weeks, Q4",88,219,888,146,726,178,21,393,28,52,50,"2,789"

In [78]:
for i in range(0,len(wait_time_list)):
    years=["2017-18","2016-17","2015-16","2014-15","2013-14","2012-13","2011-12","2009-10","2008-09","2007-08"]
    wait_time_list[i].insert(12, "12", ["Years",years[i],years[i],years[i],years[i],years[i],years[i],years[i],years[i]], True)

IndexError: list index out of range